/* common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --rl-dark: #000000;
    --rl-light: #ffffff;
    --rl-lightblue: #0084fd;
    --rl-lighterblue: #b5ddff;
    --rl-violet: #9792e4;
    --rl-footerbg: #333333;
    --rl-demotext: #5d7283;
}

body {
    font-family: 'PT Sans', sans-serif;
}

section, .demo{
    padding: 2rem 0;

}

/* utilities */
  
.container{
    width: 80%;
    max-width: 1152px;
    margin: auto;
}

.container_sm{
    width: 60%;
    max-width: 1152px;
    margin: auto;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.text_ali_center{
    text-align: center;
}

#demo,
#planning,
#testimonials,
#benefits,
#about,
#call_to_action
{
    height: 100%;
}

[class^="col"]
{
    padding: 0 1rem;
    border: 1px dashed;
    height: 100%;
}

.col_1 {
    width: calc(100% / 12);
}  

.col_2 {
    width: calc((100% / 12) * 2);
}  

.col_3 {
    width: calc((100% / 12) * 3);
}  

.col_4 {
    width: calc((100% / 12) * 4);
}  

.col_5 {
    width: calc((100% / 12) * 5);
}  

.col_6 {
    width: 50%;
}  

.col_7 {
    width: calc((100% / 12) * 7);
}  

.col_8 {
    width: calc((100% / 12) * 8);
}
 
.col_9 {
    width: calc((100% / 12) * 9);
} 

.col_10 {
    width: calc((100% / 12) * 10);
} 

.col_11 {
    width: calc((100% / 12) * 11);
}  

.col_12 {
    width: 100%;
}

/* header */

#site_header{
    background-color: var(--rl-lightblue);
    height: 70px;
}

nav{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

nav .logo img {
    height: 1.5rem;
}

nav ul {
    display: none;
    list-style-type: none;
}

nav li > a{
    text-decoration: none;
    color: var(--rl-light);
    margin: 1rem;
}

.header_button{
    background-color: var(--rl-light);
    color: var(--rl-footerbg);
    padding: 0.1rem 0.5rem;
    border-radius: 1rem;
    border: none;
}


/* main */


/* demo */
#demo,
#testimonials,
#about
{
    background-color: var(--rl-light);
}

#planning,
#benefits,
#call_to_action
{
    background-color: var(--rl-violet);
}

#demo .card{
    background-color: var(--rl-lighterblue);
    border-radius: 1rem;
    margin: 0 1rem;
    max-width: 100%;
}

#demo img{
    max-width: 100%;
}

#demo i{
    color: var(--rl-lightblue);
}

#demo h3{
    color: var(--rl-lightblue);
    margin-top: 1rem;
}

#demo .text{
    padding: 2rem;
}

#demo p{
    margin: 1rem 0;
    color: var(--rl-demotext);
}

.apple_button{
    color: var(--rl-light);
    background-color: var(--rl-lightblue);
    padding: 0.25rem 2.5rem;
    border-radius: 1rem;
    text-decoration: none;
}

/* Planning */

#planning .row{
    align-items: flex-end;
}
#planning img{
    max-width: 100%;
}

.left img{
    margin-bottom: 5rem;
}
#planning h2{
    color: var(--rl-light);
    margin: 2rem 0;
}
#planning .left{
    color: #ffffff;
}
#planning p:first-child{
    color: var(--rl-light);
    margin: 2rem 0;
}

#planning .right{
    text-align: center;
    color: var(--rl-dark);
}

#planning .text{
    margin: 2rem auto;
    font-style: italic;
}
#planning .card{
    background-color: var(--rl-light);
    border-radius: 3rem;
    padding: 2rem;
}
#planning a{
    background-color: var(--rl-violet);
    color: var(--rl-dark);
    text-align: center;
    border-radius: 50%;
    padding: 0.5rem 0.9rem;
}

#planning h3{
    margin: 2rem;
}

.planning2{
    width: 80%;
    margin-bottom: 3 rem;
}
#planning .right{
    padding-top: 3rem;
}

/* Testimonials */

#testimonials .card img {
    width: 60%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

#testimonials blockquote::before {
    font: var(--fa-font-solid);
    content: "\f10d";
    padding-right: 10px;
}
  
#testimonials blockquote::after {
    font: var(--fa-font-solid);
    content: "\f10e";
    padding-left: 10px;
}

#testimonials .card{
    background-color: var(--rl-violet);
    color: var(--rl-light);
}

#testimonials h2{
    font-size: 2rem;
    color: var(--rl-violet);
}
/* footer */

#site_footer{
    background-color: var(--rl-footerbg);
    height: 200px;
}

/* responsive layout */

@media screen and (min-width: 768px)
{
    .container{
        width: 90%
    }

    .col_md_1 {
        width: calc(100% / 12);
    }  
    
    .col_md_2 {
        width: calc((100% / 12) * 2);
    }  
    
    .col_md_3 {
        width: calc((100% / 12) * 3);
    }  
    
    .col_md_4 {
        width: calc((100% / 12) * 4);
    }  
    
    .col_md_5 {
        width: calc((100% / 12) * 5);
    }  
    
    .col_md_6 {
        width: 50%;
    }  
    
    .col_md_7 {
        width: calc((100% / 12) * 7);
    }  
    
    .col_md_8 {
        width: calc((100% / 12) * 8);
    }
     
    .col_md_9 {
        width: calc((100% / 12) * 9);
    } 
    
    .col_md_10 {
        width: calc((100% / 12) * 10);
    } 
    
    .col_md_11 {
        width: calc((100% / 12) * 11);
    }  
    
    .col_md_12 {
        width: 100%;
    }

}

@media screen and (min-width: 1200px)
{
    .container{
        width: 1140px;
    }

    #planning .right{
        height: 100%;
    }

    .col_lg_1 {
        width: calc(100% / 12);
    }  
    
    .col_lg_2 {
        width: calc((100% / 12) * 2);
    }  
    
    .col_lg_3 {
        width: calc((100% / 12) * 3);
    }  
    
    .col_lg_4 {
        width: calc((100% / 12) * 4);
    }  
    
    .col_lg_5 {
        width: calc((100% / 12) * 5);
    }  
    
    .col_lg_6 {
        width: 50%;
    }  
    
    .col_lg_7 {
        width: calc((100% / 12) * 7);
    }  
    
    .col_lg_8 {
        width: calc((100% / 12) * 8);
    }
     
    .col_lg_9 {
        width: calc((100% / 12) * 9);
    } 
    
    .col_lg_10 {
        width: calc((100% / 12) * 10);
    } 
    
    .col_lg_11 {
        width: calc((100% / 12) * 11);
    }  
    
    .col_lg_12 {
        width: 100%;
    }
    
    #planning .col_lg_6{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

}