*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --rl-dark: #000000;
    --rl-light: ##ffffff;
    --rl-lightblue: #0084fd;
    --rl-lighterblue: #b5ddff;
    --rl-violet: #9792e4;
    --rl-footerbg: #333333;
}

/* header */

#site_header{
    background-color: var(--rl-lightblue);
    height: 70px;
}